*.ts linguist-language=JavaScript
*.tsx linguist-language=JavaScript
*.d.ts linguist-language=JavaScript
tsconfig.json linguist-language=JavaScript
next.config.js linguist-language=JavaScript
postcss.config.js linguist-language=JavaScript
tailwind.config.ts linguist-language=JavaScript
